<div class="container-projetos">

  <div class="header-secao">
    <h2>Meus Projetos</h2>
    <p>Confira alguns dos projetos desenvolvidos e suas principais tecnologias.</p>
  </div>

  <!-- STATUS -->

  <div *ngIf="carregando" class="status-carregando">
    Carregando projetos...
  </div>

  <div *ngIf="erro" class="status-erro">
    {{ erro }}
  </div>

  <!-- LISTAGEM DOS PROJETOS -->

  <div class="grade-projetos-premium">

<mat-card class="card-projeto-premium" *ngFor="let item of projetos">

  <div class="card-conteudo">

    <div class="card-header-info">
      <span class="titulo-p">{{ item.nome }}</span>
      <span class="badge-ano">{{ item.ano }}</span>
    </div>

    <p class="descricao-p">
      {{ item.descricao }}
    </p>

    <div *ngIf="item.tecnologias" class="tech-tag">
      {{ item.tecnologias }}
    </div>

  </div>

  <!-- AÇÕES PARA O CLIENTE -->
  <div class="card-actions">

    <a
      *ngIf="item.link_github"
      [href]="item.link_github"
      target="_blank"
      rel="noopener noreferrer"
      class="btn-github">
      GitHub
    </a>

    <button
      mat-raised-button
      class="btn-detalhes"
      type="button">
      Detalhes
    </button>

  </div>

</mat-card>

  </div>

</div>
